@import 'Variables.css';

@media (max-width: 767px)
{
    .ao-primary-section {
        height: 92vh;
        /*border: 2px solid red;*/
        overflow-y: scroll;
        -ms-overflow-style: none;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .ao-primary-section {
        height: 94vh;
        /*border: 2px solid red;*/
        overflow-y: scroll;
        -ms-overflow-style: none;
    }
}

@media (min-width: 992px)
{
    .ao-primary-section {
        height: 91vh;
        /*border: 2px solid red;*/
        overflow-y: scroll;
        -ms-overflow-style: none;
    }
}

.ao-primary-section::-webkit-scrollbar {
    display: none;
}

.no-orders-msg {
    font-size: var(--emptyMessage);
    color: var(--primaryOrangeRegular);
}

.all-orders-text {
    margin: 15px 0;
    font-size: var(--titleText);
}

.all-orders-hr {
    border: 2px solid var(--primaryGreenLight);
    width: 74.5%;
    /*margin: 0 0 .5em 0;*/
}

.order-box {
    width: 75%;
    border: 2px solid var(--primaryGreenRegular);
    margin: 15px 0 15px 0;
    padding: 0 0 15px 0;
    /*border-radius: var(--order-box-border-radius);*/
}

.title-section {
    padding: 0.2em 0.8em 0.2em 0.8em;
    width: 100%;
    background-color: var(--primaryGreenRegular);
}

.user-name {
    color: var(--text-light);
    font-size: var(--titleText);
}
.user-phone-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.phone-img {
    width: 1.2em;
}

.user-phone {
    color: var(--text-light);
    font-size: var(--titleText);
}

.date-section {
    width: 100%;
    padding: 0 0.8em 0 0;
}

.order-date {
    font-size: var(--dateText);
}

.order-list-section {
    width: 100%;
    padding: 0 0 0 0.8em;
}

.order-item-section {
    width: 100%;
}

.order-item {
    font-size: var(--itemText);
}

.order-total-section {
    /* Spaced according to other elements with space on the right */
    /*margin: 15px 0.8em 15px 0;*/

    /* No Space on the right */
    margin: 15px 0;
    padding: 5px 0 5px 15px;
    background-color: var(--primaryGreenRegular);
}

.order-total-text {
    font-size: var(--orderTotalText);
    color: var(--text-light);
}
